sentence_transformers
chromadb
fastapi
uvicorn
motor
bcrypt
python-jose
passlib
python-multipart
langchain-core
langchain-anthropic
langgraph
langchain
pydantic
openai
selenium
chromedriver-autoinstaller
beautifulsoup4
langchain-openai